<div class="single-post-main">
    <article class= "container single-post-container">
    <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
    <div>
    <input name="post-title"class="post-title-edit" value="{{post.title}}"></input>
    <p class="meta">By {{post.user.username}} on {{format_date post.created_at}}</p>
    <form class="post-content-container edit-post-form">
        <textarea name="edit-post-content" class="edit-post-textarea">{{post.post_content}}</textarea>
            <div class="post-options edit-post-options">
            <button type="submit">Save</button>
            <button id="delete-post-btn">Delete</button>
            <button id="cancel-btn">Cancel</button>
            </div>
    </form>
        {{> comments post.comments}}
    </article>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/javascript/comment.js"></script>