<div style="height: 40px;"></div>
    <div class="homepage-content">
      <!-- map container -->
      <div id="map-container">
          <div id="map"></div>
      </div>
      <!-- post container -->
      <div id="post-container" class="container">
          <h2>Latest Reviews</h2>

        {{#each posts as |post|}}
            {{> post-info post}}
        {{/each}}
      </div>
    </div>
    <script src="/js/map.js"></script>
    <script src="/js/homepage.js"></script>
