.dashboard-main {
  min-height: 100%;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}

.new-post {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 40%;
}

.new-post-form-container {
  height: fit-content;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.new-post-title {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

.new-post-title input {
  margin-left: 10px;
  width: 60%;
}

.new-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.new-post-content label {
  text-align: left;
  margin-left: 10px;
}

.new-post-content textarea {
  min-height: 100px;
}

#city-input {
  margin: 5px 0 5px 0;
}

#new-post-map-container {
  width: 80%;
  height: 300px;
  border: solid var(--border-white) 1px;
  border-radius: 15px;
  padding: 5px;
  margin: 0 auto 10px auto;
  background-color: var(--bg-blue);
}

#latlon-display div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
}

.latlon-label {
  margin: 5px 10px 0 50px;
  max-width: fit-content;
}

#lat-display,
#lon-display {
  background-color: white;
  border: 1px solid var(--border-black);
  min-width: 100px;
  margin: 5px 10px 0 0;
  text-align: center;
}

.post-btn {
  margin: 0 auto;
}

.post-options {
  display: flex;
  margin: 0 0 20px 0;
  padding-right: 20px;
  flex-direction: row;
  justify-content: right;
}

.edit-post-options {
  margin: 0 0 0 auto;
  padding-right: 0;
  margin-bottom: 20px;
}

.post-options a {
  margin-right: 10px;
  color: var(--border-white);
  border: 1px solid var(--border-black);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  /* background-color: var(--bg-blue); */
}

/* MQ for tablets and smaller laptops */
@media only screen and (max-width: 768px) {
  .dashboard-main {
    flex-direction: column;
  }

  .new-post {
    margin-bottom: 20px;
    width: 80%;
  }
}
